<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Buy Ticket</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="d-flex flex-column min-vh-100 justify-content-center">

<div class="d-flex flex-column justify-content-start align-items-center">
    <div class="row justify-content-center w-100">
        <div class="col-md-6 text-center">
            <span class="lead" sec:authorize="isAuthenticated()">
                BALANCE: <b th:text="${balance}"></b>
            </span>
            <span class="lead" sec:authorize="isAuthenticated()">
                USERNAME: <b sec:authentication="principal.username"></b>
            </span>
        </div>
    </div>
</div>
<div class="container text-center mt-4">


    <div class="row justify-content-center mt-3">
        <div class="col-md-6">
            <div class="btn-group w-100">
                <button class="btn btn-outline-primary btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                    <span th:text="${selectedDeparture != null ? selectedDeparture : 'Pick departure'}"></span>
                </button>
                <ul class="dropdown-menu w-100">
                    <li th:each="city : ${cities}">
                        <form th:action="@{/api/ticket/calculate_price}" method="post">
                            <input type="hidden" name="cityDeparture" th:value="${city}">
                            <input type="hidden" name="cityArrival"
                                   th:value="${selectedArrival != null ? selectedArrival : ''}">
                            <input type="hidden" name="travellerAmount"
                                   th:value="${selectedTravellerAmount != null ? selectedTravellerAmount : ''}">
                            <button class="dropdown-item" type="submit" th:text="${city}"></button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-md-6">
            <div class="btn-group w-100">
                <button class="btn btn-outline-primary btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                    <span th:text="${selectedArrival != null ? selectedArrival : 'Pick arrival'}"></span>
                </button>
                <ul class="dropdown-menu w-100">
                    <li th:each="city : ${cities}">
                        <form th:action="@{/api/ticket/calculate_price}" method="post">
                            <input type="hidden" name="cityArrival" th:value="${city}">
                            <input type="hidden" name="cityDeparture"
                                   th:value="${selectedDeparture != null ? selectedDeparture : ''}">
                            <input type="hidden" name="travellerAmount"
                                   th:value="${selectedTravellerAmount != null ? selectedTravellerAmount : ''}">
                            <button class="dropdown-item" type="submit" th:text="${city}"></button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row justify-content-center mt-3">
        <div class="col-md-6">
            <div class="btn-group w-100">
                <button class="btn btn-outline-primary btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                    <span th:text="${selectedTravellerAmount != null ? selectedTravellerAmount : 'Pick Traveller Amount'}"></span>
                </button>
                <ul class="dropdown-menu w-100">
                    <li th:each="num : ${#numbers.sequence(1, 10)}">
                        <form th:action="@{/api/ticket/calculate_price}" method="POST">
                            <input type="hidden" name="travellerAmount" th:value="${num}">
                            <input type="hidden" name="cityDeparture"
                                   th:value="${selectedDeparture != null ? selectedDeparture : ''}">
                            <input type="hidden" name="cityArrival"
                                   th:value="${selectedArrival != null ? selectedArrival : ''}">
                            <button class="dropdown-item" type="submit" th:text="${num}"></button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="centered-text text-center"><h1 class="mt-3 display-5"
                                               th:text="${price != null ? price + ' GBT' : ''}"></h1></div>
    <div class="row justify-content-center mt-3">
        <div class="col-md-6">
            <form th:action="@{/api/ticket/save_ticket}" method="POST">
                <button class="btn btn-success w-100"
                        th:type="${#authorization.expression('isAuthenticated()') ? 'submit' : 'button'}"
                        th:disabled="${#authorization.expression('isAuthenticated()') ? 'false' : 'true'}">
                    Buy ticket
                </button>
                <small th:text="${#authorization.expression('isAuthenticated()') ? '' : 'You must be authorised to purchase a ticket'}"
                       id="emailHelp" class="form-text text-muted"></small>

                <input type="hidden" name="departure" th:value="${selectedDeparture}">
                <input type="hidden" name="arrival" th:value="${selectedArrival}">
                <input type="hidden" name="travellerAmount" th:value="${selectedTravellerAmount}">
                <input type="hidden" name="price" th:value="${price}">
            </form>
        </div>
    </div>

    <div class="row justify-content-center mt-4">
        <div class="col-md-6">
            <a th:text="${#authorization.expression('isAuthenticated()') ? 'BACK' : 'LOG IN'}"
               th:href="${#authorization.expression('isAuthenticated()') ? '/{username}' : '/login'}"
               class="btn btn-primary w-100"></a>
        </div>
    </div>

    <div class="row justify-content-center mt-3">
        <div class="col-md-6">
            <div th:if="${errorMessage}" class="alert alert-danger" role="alert">
                <span th:text="${errorMessage}"></span>
            </div>
            <div th:if="${successMessage}" class="alert alert-success mt-3" role="alert">
                <span th:text="${successMessage}"></span>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>