<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My Page</title>
</head>
<body>
<h1>Заполните форму</h1>
<form th:action="@{/add_ticket}" th:object="${ticketDto}" method="POST">

    <label for="departure">departure:</label>
    <input type="text" th:field="*{departure}" id="departure"><br><br>

    <label for="arrival">arrival:</label>
    <input type="text" id="arrival" th:field="*{arrival}" ><br><br>

    <label for="traveller_amount">traveller_amount:</label>
    <input type="number" step="1" id="traveller_amount" th:field="*{travellerAmount}"><br><br>

    <button type="submit">Отправить</button>
</form>
</body>
</html>